.chat_container {
  max-width: 1024px;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  margin: 100px auto;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.49);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.sidebar {
  padding: 10px;
  background: #f1eeee;
}

.chat {
  padding: 10px;
}

.navbar {
  display: grid;
  grid-template: 50% 50% / 70px 1fr 40px;
  grid-template-areas: "avatar name btn" "avatar appointment btn";
  margin-bottom: 20px;

  .css-frs8jf-MuiBadge-root {
    grid-area: avatar;
    margin-right: 10px;
  }

  .navbarName {
    grid-area: name;
    font-size: 20px;
    color: rgb(24, 87, 203);
    margin: 4px 0 auto;
  }

  .appointment {
    grid-area: appointment;
    margin: 0 0 auto;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.49);
    opacity: 0.8;
  }

  .changeBtn {
    align-self: start;
    padding-top: 4px;
    grid-area: btn;
  }

}
